@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
/* font-family: 'MedievalSharp', cursive; */

* {
    margin: 0;
    padding: 0;
    font-family: 'MedievalSharp', cursive;
    font-size: 20px;
}

body {
    background: url("/static/assets/background.png"), black;
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    touch-action: pan-y;
}

.container {
    min-width: 100vw;
    min-height: 100vh;
}

.title {
    padding-top: 3vh;
    width: 100%;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    text-shadow: rgb(255, 255, 255) 1px 0px 0px, rgb(255, 255, 255) 0.540302px 0.841471px 0px, rgb(255, 255, 255) -0.416147px 0.909297px 0px, rgb(255, 255, 255) -0.989992px 0.14112px 0px, rgb(255, 255, 255) -0.653644px -0.756802px 0px, rgb(255, 255, 255) 0.283662px -0.958924px 0px, rgb(255, 255, 255) 0.96017px -0.279415px 0px;
}

.letters {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 80px;
}

.buttons {
    text-align: center;
}

button {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    width: 303px;
    height: 82px;
    border: none;
    background-color: transparent;
    opacity: 1;
}

.play {
    margin-top: 28vh;
    background-image: url("/static/assets/dark_play_button.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.play:hover {
    background-image: url("/static/assets/light_play_button.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.rules {
    background-image: url("/static/assets/dark_rules_button.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
}

.rules:hover {
    background-image: url("/static/assets/light_rules_button.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.subtitle {
    margin: auto;
    margin-top: 25vh;
    margin-bottom: 15vh;
    text-shadow: rgb(255, 255, 255) 1px 0px 0px, rgb(255, 255, 255) 0.540302px 0.841471px 0px, rgb(255, 255, 255) -0.416147px 0.909297px 0px, rgb(255, 255, 255) -0.989992px 0.14112px 0px, rgb(255, 255, 255) -0.653644px -0.756802px 0px, rgb(255, 255, 255) 0.283662px -0.958924px 0px, rgb(255, 255, 255) 0.96017px -0.279415px 0px;
    font-size: 30px;
    width: 90vw;
    text-wrap: wrap;
}